<% if (lesson.kanjis.length !== 0) { %>
  <div class="carousel carousel-slider center">
    <% lesson.kanjis.forEach(kanji => { %>
      <div class="carousel-item white black-text">
        <div class="kanji-main">
          <h1 data-id="<%= kanji._id %>"><%= kanji.character %></h1>
        </div>

        <div class="text-group onyomi">
          <h5 class="black-text jp-text"><%= kanji.onJp %></h5>
          <h5 class="black-text en-text"><%= kanji.onEn %></h5>
        </div>

        <div class="text-group kunyomi">
          <h5 class="black-text jp-text"><%= kanji.kunJp %></h5>
          <h5 class="black-text en-text"><%= kanji.kunEn %></h5>
        </div>

        <div class="text-group meaning">
          <h5 class="black-text meaning-text"><%= kanji.meaning %></h5>
        </div>
      </div>
    <% }); %>
  </div>
  <div class="row left-right-buttons">
    <div class="col s3 offset-s2 prev btn"><span class="">Previous</span></div>
    <div class="col s3 offset-s2 next btn"><span class="">Next</span></div>
  </div>
<% } else { %>
  <div class="no-kanji-in-deck">
    <p>Add some new kanji to this deck</p>
    <p>You can add them from your study and review sessions</p>
  </div>
<% } %>
