<h1>Grades Show</h1>

<% let lessonLength = 10; %>

<p>Grade: <%= grade %></p>

<h3>Number of kanji characters: <%= kanjis.length %></h3>
<% kanjis.forEach(kanji => { %>
  <%= kanji.character %>
<% }) %>
<br>
<br>

<% for (let i=1; i<=kanjis.length; i+=lessonLength) { %>
  <a href="../lessons/<%=grade%>-<%=i%>">Lesson <%= (i+lessonLength-1)/lessonLength %></a>
  <% if (kanjis.length-i < lessonLength-1) { %>
    <p><%= i %>-<%= kanjis.length %></p>
    <% break; %>
  <% } %>
  <p><%= i %>-<%= i+lessonLength-1 %></p>
<% } %>
