<h1 class="center">Browse Characters</h1>

<ul class="grade-ul">
  <a class="grade-sort" href="/kanjis"><li>All</li></a>
  <% for (let i=1; i< 8; i++) { %>
    <a class="grade-sort" href="/kanjis?grade=<%= i %>"><li><%= i %></li></a>
  <% } %>
</ul>

<div class="section">
  <div class="carousel carousel-slider center">
    <% kanjis.forEach(kanji => { %>
      <div class="carousel-item white black-text">

          <div class="kanji-main">
            <h1 data-id="<%= kanji._id %>"><%= kanji.character %></h1>
          </div>

          <div class="text-group onyomi">
            <h5 class="black-text jp-text"><%= kanji.onJp %></h5>
            <h5 class="black-text en-text"><%= kanji.onEn %></h5>
          </div>

          <div class="text-group kunyomi">
            <h5 class="black-text jp-text"><%= kanji.kunJp %></h5>
            <h5 class="black-text en-text"><%= kanji.kunEn %></h5>
          </div>

          <div class="text-group meaning">
            <h5 class="black-text meaning-text"><%= kanji.meaning %></h5>
          </div>

      </div>
    <% }); %>
  </div>

  <div class="row left-right-buttons">
    <div class="col s3 offset-s2 prev btn"><span class="">Previous</span></div>
    <div class="col s3 offset-s2 next btn"><span class="">Next</span></div>
    <div class="col s1 right">
      <a class="btn-floating add-deck-btn btn-small" href="#addToDeck"><i class="material-icons">add</i></a>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="addToDeck" class="modal">
  <form>
  <div class="modal-content">
    <h4>Add Kanji to Deck</h4>
      <% decks.forEach(deck => { %>
        <p>
          <input type="radio" id="deck-<%= deck._id %>" name="deck" value="<%= deck._id %>">
          <label for="deck-<%= deck._id %>"><%= deck.name %></label>
        </p>
      <% }); %>
    </div>
    <div class="modal-footer">
      <input type="submit" class="modal-action waves-effect waves-green btn-flat" value="Add Kanji to Deck">
    </div>
  </form>
</div>
